<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendário</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <p>Calendário de tarefas será implementado aqui.</p>
  </div>
</ion-content>
